.cus-tree-view {
  height: calc(100% - 64px) !important;
}

.test-test-test {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.root {
  display: flex;
  flex-direction: row;
  margin: 0 -25px 0 -25px;
}

.root-left {
  width: 15%;
  height: calc(100% + 25px);
  overflow: hidden;
  /* padding: 6px; bỏ cái padding này nhé */
  background: rgba(255, 255, 255, 0.48);
}

.root-right {
  width: 85%;
  height: calc(100% + 25px);
  overflow: hidden;
  /* padding: 6px; bỏ cái padding này nhé */
}

.header-left {
  height: 64px;
  background: #40A574;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFF
}

.content-left {
  padding: 14px;
  overflow: auto;
  height: 100%;
}

.content-left-2 {
  padding: 14px;
  overflow: auto;
  height: calc(100% - 60px);
}

.header-right {
  height: 64px;
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.title-right {
  height: 64px;
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFF
}

.btn-update {
  height: 48px;
  border: none;
  background-color: transparent;
  color: #FFF;
  outline: none;
  transition-duration: 0.4s;
}

.btn-update:hover {
  background-color: #0A84FF;
}

.dx-datebox:not(.dx-texteditor-empty).dx-auto-width .dx-texteditor-input {
  color: #333;
}

.ct-input-datebox,
.ct-input-datebox .dx-texteditor-input {
  color: #FFF !important
}

.dx-timeview-field .dx-numberbox {
  width: 80px !important;
}

.dx-timeview-format12 {
  width: 80px !important;
}

.dx-calendar-cell.dx-calendar-today {
  border-radius: 12px !important;
}

.dx-calendar-navigator-next-view .dx-button-content,
.dx-calendar-navigator-previous-month .dx-button-content {
  padding: 6px !important;
}

.dx-progressbar-range {
  border-radius: 2px !important;
}

/* video controls */

.video-controls {
  right: 0;
  left: 0;
  /* padding: 10px 10px 10px 10px; */
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

.hidden {
  display: none;
}

.video-controls.hide {
  opacity: 0;
  pointer-events: none;
}

.bottom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;

}

.left-controls {
  display: flex;
  align-items: center;
  color: #fff;
}

.right-controls {
  display: flex;
  align-items: center;
  color: #fff;
}

.view-hover-open-camera {
  position: absolute;
  bottom: 70px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  z-index: 100;
}

.view-loading-open-camera {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  z-index: 98;
}

.view-record {
  font-weight: 400;
  color: #FFF;
  position: absolute;
  bottom: 14%;
  left: 0;
  width: 100%;
  z-index: 999;
  /* background-color: #0A84FF; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
}

.main-view-record {
  width: 168px;
  height: 30px;
  background: #ffffff60;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-view-record-icon {
  background: #ffffff60;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 64px;
  height: 30px;
  margin-left: 8px;
}

.shadow-icon-record {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-color: crimson;
  border: 1px solid #FFFFFF;
  border-radius: 9999px;
  animation: shadow-icon-record 1s infinite ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shadow-icon-record-children {
  background: #FFF;
  height: 6px;
  width: 6px;
  border-radius: 100%;
}


@keyframes shadow-icon-record {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* slider UI UX */

.view-hover-open-time-line {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  position: relative;
}

.slider1 {
  -webkit-appearance: none;
  width: 100%;
  height: 13px;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: .5s;
  transition: opacity .5s;
}

.slider1:hover {
  opacity: 1;
}

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3px;
  height: 13px;
  background: #109CF1;
  cursor: pointer;
}

.slider1::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #109CF1;
  cursor: pointer;
}

.slidecontainer {
  width: 100%;
  /* position: absolute; */
  left: 4%;
  z-index: 112;
  bottom: 40px;
}

.slidecontainer2 {
  width: 100%;
  height: 13px;
  background-color: rgba(255, 255, 255, 0.904);
  position: absolute;
  z-index: 111;
  margin-bottom: 4px;
}

.rs-label {
  background: #109CF1;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 0 1px 0;
  text-align: center;
  position: relative;
  left: attr(value);
  /* left: 38px; */
  width: 80px;
  color: #FFF;
  margin-bottom: 4px;
  margin-left: -38px;
  border: 1px solid #FFF;
}


.slidecontainer-2 {
  width: 100%;
}


.slider-2 {
  -webkit-appearance: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  height: 3px;
  -webkit-transition: .5s;
  transition: opacity .5s;
}

.slider-2:hover {
  opacity: 1;
}

.slider-2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.slider-2::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
